body{
	background-color: rgb(23, 2, 31);
	color: white;
	padding-left:10px;
	font-family: georgia, serif;
}

.container{
	background-color: rgb(34, 6, 34); 
	padding: 150px;
}

a{
	color: inherit;
} 

h1{
	color: white;
}
/* 
.footer{
	justify-content: space-around;
	text-align: center;
} */

/* .footerTop{
	background-color: #222222;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
} */

/* .footerBottom{
	background-color: #444444;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
} */



.accordion-item{
	background-color: #444444;
	color: #FFFFFF;
}

.accordion-button{
    background-color: #888888;
	color: #FFFFFF;
 }
 
 .accordion-button:focus{
    background-color: #AAAAAA;
	color: #FFFFFF;
}

#king {
margin-right: -800;
position: absolute;
right: 285px;

}

#maintxt {
font-size: 20px

}

#logo{
display: block;
margin-left: auto;
margin-right: auto;


}

.games{
	text-align: center;
	color: rgb(230, 168, 79)
}