<!DOCTYPE html>
<html lang="en">

<head>
	<title>Casino</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
	<link rel = "stylesheet" href="/css/style.css">
</head>

<body>
	<!-- Creates a custom header-component defined in js -->
	<header-component></header-component>

	<div class="container">
		<h1 class = "games">Games</h1>
		
		<br>

		<div class="row">
			<div class="col-md-6">
				<a href="/roulette"> <h3>Roulette</h3> </a>
				<a href="/roulette"> <img src="images/roulette.jpg" class="game-icon"/> </a>
			</div>
			<div class="col-md-6">
				<a href="games/play?id=Poker"> <h3>Poker</h3> </a>
				<a href="games/play?id=Poker"> <img src="images/poker_coming_soon.jpg" class="game-icon"/> </a>
			</div>
			<div class="col-md-6"><br><br></div>
			<div class="col-md-6"><br><br></div>
			<div class="col-md-6">
				<a href="games/play?id=Blackjack"> <h3>Blackjack</h3> </a>
				<a href="games/play?id=Blackjack"> <img src="images/blackjack_coming_soon.jpg" class="game-icon"/> </a>
			</div>
			<div class="col-md-6">
				<a href="games/play?id=Slots"> <h3>Slots</h3> </a>
				<a href="games/play?id=Slots"> <img src="images/slots_coming_soon.jpg" class="game-icon"/> </a>
			</div>
			<div class="col-md-6"><br><br></div>
			<div class="col-md-6"><br><br></div>
			<div class="col-md-6">
				<a href="games/play?id=Poker 2"> <h3>Poker 2</h3> </a>
				<a href="games/play?id=Poker 2"> <img src="images/poker2_coming_soon.jpg" class="game-icon"/> </a>
			</div>
		</div>

		<br><br><br><br>

		<h3 class = "games">How To Play</h2>
		<!-- Accordion displaying information about a few games -->
		<div class="accordion" id="accordionGames">
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Roulette
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionGames">
					<div class="accordion-body">
						<h4>The Roulette Wheel:</h4>
							<p>The roulette wheel has numbered pockets ranging from 0 to 36.</p>
							<p>The numbers are alternately colored red and black, except for the 0, which is green.</p>
							<p>The arrangement of numbers on the wheel is the European version.</p>
							<p>Players place their bets on the roulette table layout before the wheel is spun.</p>
						<h4>Inside Bets:</h4>
							<p>Straight Bet: Betting on a single number.</p>
						<h4>Outside Bets:</h4>
							<p>These are bets placed outside the number grid, typically betting on larger groups of numbers or characteristics of the numbers.</p>
							<p>Red or Black: Betting on whether the ball will land on a red or black pocket.</p>
							<p>Odd or Even: Betting on whether the ball will land on an odd or even number.</p>
							<p>Low or High: Betting on whether the ball will land on a low (1-18) or high (19-36) number.</p>
							<p>Dozen: Betting on one of three groups of 12 numbers (1-12, 13-24, or 25-36).</p>
							<p>Column: Normally, betting on one of three vertical columns of numbers. On our table this is betting on the three horizontal rows of numbers.</p>
						<h4>Spinning the Wheel:</h4>
							<p>Once a bet is placed, the roulette wheel can spin.</p>
							<p>the ball falls into one of the numbered pockets on the wheel.</p>
						<h4>Odds and Payout:</h4>
							<h5>Straight Bet (Single Number):</h5>
							<p>Payout = 35:1</p>
							<p>Odds   = 2.70%</p>
							<h5>12 Numbers(Column/Dozen):</h5>
							<p>Payout = 2:1</p>
							<p>Odds   = 32.43%</p>
							<h5>18 Numbers (Red, Black, Even, Odd, Low, & High):</h5>
							<p>Payout = 1:1</p>
							<p>Odds   = 48.65%</p>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Blackjack
					</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionGames">
					<div class="accordion-body">
						<h5>Card Values:</h5>
						<p>
							Numbered cards (2 through 10) are worth their face value.
							Face cards (Jack, Queen, King) are each worth 10 points.
							Aces can be worth either 1 point or 11 points, depending on which value is more advantageous for the player's hand.
						</p>
						<h5>The Deal:</h5>
						<p>
							The game is typically played with one or more standard 52-card decks.
							At the start of each round, players place their bets.
							The dealer then deals two cards to each player (usually face up) and two cards to themselves (one face up, one face down).
						</p>
						<h5>Player's Turn:</h5>
						<p>
							Players take turns deciding whether to "hit" (receive another card) or "stand" (keep their current hand).
							Players can also choose to "double down" (double their bet and receive one additional card) or "split" (if they have two cards of the same rank, split them into two separate hands, each with its own bet).
							The player's turn continues until they either decide to stand, their hand total exceeds 21 (resulting in a "bust"), or they achieve a total they are satisfied with.
						</p>
						<h5>Dealer's Turn:</h5>
						<p>
							After all players have finished their turns, the dealer reveals their face-down card.
							The dealer must hit until they have a total of 17 or higher.
							If the dealer busts, all remaining players win.
						</p>
						<h5>Winning:</h5>
						<p>
							If a player's hand total is closer to 21 than the dealer's without exceeding 21, the player wins.
							If the player's hand equals the dealer's hand, it's a "push" (tie), and the player neither wins nor loses money.
							If the player's hand exceeds 21, they bust and lose their bet regardless of the dealer's hand.
						</p>
						<h5>Blackjack:</h5>
						<p>
							If a player's first two cards are an Ace and a 10-value card (10, Jack, Queen, or King), they have a "blackjack," and typically win one and a half times their bet unless the dealer also has a blackjack, in which case it's a push.
						</p>
						<h5>Insurance:</h5>
						<p>
							If the dealer's face-up card is an Ace, players may have the option to purchase "insurance," which is a side bet that pays 2:1 if the dealer has a blackjack. However, this is generally considered a poor bet in terms of odds
						</p>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Slots
					</button>
				</h2>
				<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionGames">
					<div class="accordion-body">
						<p>Spin the Reels: After selecting your bet size, you're ready to spin the reels. Press the "Spin" button or pull the lever (if the machine has one) to start the game. The reels will spin, and then come to a stop, revealing a combination of symbols.</p>
						<p>Check for Winning Combinations: After the reels stop spinning, the machine will automatically determine if you've won any prizes based on the symbols that appear on the paylines. Each machine has its own paytable that shows the winning combinations and payouts.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Creates a custom footer-component defined in script.js -->
	<footer-component></footer-component>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" type="text/javascript"></script>
	<script src="/js/script.js" type="text/javascript"></script>
	<script src="/js/games.js" type="text/javascript"></script>
</body>

</html>