<!DOCTYPE html>
<html lang="en">

<head>
	<title>Casino</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
	<link rel = "stylesheet" href="css/style.css">
</head>

<body>
	<!-- Creates a custom header-component defined in js -->
	<header-component></header-component>

	<div class="container">
		<p>
		<h1 class = "games">Games</h1>
		</p>
		<!-- Carousel showcasing a few pictures -->
		<div id="gamesCarousel" class="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="images/slots.jpg" class="d-block w-100">
					<div class="carousel-caption d-none d-md-block">
						<h3>Slots</h3>
					</div>
				</div>
				<div class="carousel-item">
					<img src="images/blackjack.jpg" class="d-block w-100">
					<div class="carousel-caption d-none d-md-block">
						<h3>Blackjack</h3>
					</div>
				</div>
				<div class="carousel-item">
					<img src="images/roulette.jpg" class="d-block w-100">
					<div class="carousel-caption d-none d-md-block">
						<h3>Roulette</h3>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#gamesCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#gamesCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<br>
		
		<!-- Accordion displaying information about a few games -->
		<div class="accordion" id="accordionGames">
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Slots
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionGames">
					<div class="accordion-body">
						Spin the Reels: After selecting your bet size, you're ready to spin the reels. Press the "Spin" button or pull the lever (if the machine has one) to start the game. The reels will spin, and then come to a stop, revealing a combination of symbols.
<br><br>
Check for Winning Combinations: After the reels stop spinning, the machine will automatically determine if you've won any prizes based on the symbols that appear on the paylines. Each machine has its own paytable that shows the winning combinations and payouts.
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Blackjack
					</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionGames">
					<div class="accordion-body">
Card Values:
<br><br>
    Numbered cards (2 through 10) are worth their face value.
    Face cards (Jack, Queen, King) are each worth 10 points.
    Aces can be worth either 1 point or 11 points, depending on which value is more advantageous for the player's hand.
<br><br>
The Deal:
<br><br>
    The game is typically played with one or more standard 52-card decks.
    At the start of each round, players place their bets.
    The dealer then deals two cards to each player (usually face up) and two cards to themselves (one face up, one face down).
<br><br>
Player's Turn:
<br><br>
    Players take turns deciding whether to "hit" (receive another card) or "stand" (keep their current hand).
    Players can also choose to "double down" (double their bet and receive one additional card) or "split" (if they have two cards of the same rank, split them into two separate hands, each with its own bet).
    The player's turn continues until they either decide to stand, their hand total exceeds 21 (resulting in a "bust"), or they achieve a total they are satisfied with.
<br><br>
Dealer's Turn:
<br><br>
    After all players have finished their turns, the dealer reveals their face-down card.
    The dealer must hit until they have a total of 17 or higher.
    If the dealer busts, all remaining players win.
<br><br>
Winning:
<br><br>
    If a player's hand total is closer to 21 than the dealer's without exceeding 21, the player wins.
    If the player's hand equals the dealer's hand, it's a "push" (tie), and the player neither wins nor loses money.
    If the player's hand exceeds 21, they bust and lose their bet regardless of the dealer's hand.
<br><br>
Blackjack:
<br><br>
    If a player's first two cards are an Ace and a 10-value card (10, Jack, Queen, or King), they have a "blackjack," and typically win one and a half times their bet unless the dealer also has a blackjack, in which case it's a push.
<br><br>
Insurance:
<br><br>
    If the dealer's face-up card is an Ace, players may have the option to purchase "insurance," which is a side bet that pays 2:1 if the dealer has a blackjack. However, this is generally considered a poor bet in terms of odds
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Roulette
					</button>
				</h2>
				<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionGames">
					<div class="accordion-body">
The Roulette Wheel:
<br><br>
    The roulette wheel has numbered pockets ranging from 0 to 36 (in European and French roulette) or 00 to 36 (in American roulette).
    The numbers are alternately colored red and black, except for the 0 (and 00 in American roulette), which is typically green.
    The arrangement of numbers on the wheel varies between the American and European/French versions.
<br><br>
Types of Bets:
<br><br>
    Inside Bets: These are bets placed on specific numbers or combinations of numbers within the number grid on the roulette table.
        Straight Bet: Betting on a single number.
        Split Bet: Betting on two adjacent numbers by placing chips on the line between them.
        Street Bet: Betting on three numbers in a horizontal line by placing chips on the edge of the row.
        Corner Bet: Betting on four numbers that form a square by placing chips on the intersection of their corners.
        Six Line Bet: Betting on two adjacent rows of numbers, covering six numbers in total.
<br><br>
    Outside Bets:
<br><br>
 These are bets placed outside the number grid, typically betting on larger groups of numbers or characteristics of the numbers.
        Red or Black: Betting on whether the ball will land on a red or black pocket.
        Odd or Even: Betting on whether the ball will land on an odd or even number.
        Low or High: Betting on whether the ball will land on a low (1-18) or high (19-36) number.
        Dozens: Betting on one of three groups of 12 numbers (1-12, 13-24, or 25-36).
        Columns: Betting on one of three vertical columns of numbers.
        Snake Bet: A specific bet on the numbers 1, 5, 9, 12, 14, 16, 19, 23, 27, 30, 32, and 34. This bet is not available on all roulette tables.
<br><br>
Placing Bets:
<br><br>
    Players place their bets on the roulette table layout before the wheel is spun.
    Each player's chips have a distinct color to differentiate bets.
    There are minimum and maximum bet limits for each type of bet, which are displayed on the table.
<br><br>
Spinning the Wheel:
<br><br>
    Once all bets are placed, the dealer (or croupier) spins the roulette wheel in one direction and spins the ball in the opposite direction around the edge of the wheel.
    Eventually, the ball loses momentum and falls into one of the numbered pockets on the wheel.
					</div>
				</div>
			</div>
		</div>
		<br>
		
		<p>

		</p>
	</div>
	
	<!-- Creates a custom footer-component defined in script.js -->
	<footer-component></footer-component>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" type="text/javascript"></script>
	<script src="js/script.js" type="text/javascript"></script>
	<script src="js/games.js" type="text/javascript"></script>
</body>

</html>