body {
	background-color: rgb(23, 2, 31);
	color: white;
	padding-right: 10px;
	font-family: georgia, serif;
}

.container {
	background-color: rgb(34, 6, 34); 
	padding: 50px;
}

a {
	color: inherit;
} 

h1 {
	color: white;
}

/*
.footer{
	justify-content: space-around;
	text-align: center;
}

.footerTop{
	background-color: #222222;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footerBottom{
	background-color: #444444;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
}
*/

.accordion-item{
	background-color: #444444;
	color: #FFFFFF;
}

.accordion-button{
    background-color: #888888;
	color: #FFFFFF;
 }
 
 .accordion-button:focus{
    background-color: #AAAAAA;
	color: #FFFFFF;
}

#roulette-ball {
	height: 1.5vw;
	width: 1.5vw;
	border-radius: 1.5vw;
	background-color: white;
	position: relative;
	top: 6.05vw;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

#roulette-wheel {
	display: block;
    width: 25vw;
	margin-left: auto;
	margin-right: auto;
}

.roulette-black {
	background-color: black;
	min-width: 35px;
}

.roulette-red {
	background-color: red;
	min-width: 35px;
}

.roulette-green {
	background-color: rgb(70, 120, 70);
	text-align: center;
	min-width: 53px;
}

.selected-bet {
	background-color: rgb(240, 240, 50);
	color: black;
}

#king {
	display: block;
	width: 15vw;
	min-width: 100px;
	max-width: 300px;
	margin-left: auto;
	margin-right: 0px;
}

#maintxt {
	font-size: 20px
}

#logo{
	display: block;
	width: 50vw;
	min-width: 250px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#tokens-header {
	margin-left: 10px;
	margin-right: 10px;
}

.games {
	text-align: center;
	color: rgb(230, 168, 79)
}

.game-icon {
	width: 25vw;
	min-width: 50px;
	max-width: 550px;
}

#gamesCarousel {
	display: block;
	width: 30vw;
	min-width: 250px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.d-block {
	width: 30vw;
	min-width: 250px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}