body {
	background-color: rgb(23, 2, 31);
	color: white;
	padding-left:10px;
	font-family: georgia, serif;
}

.container {
	background-color: rgb(34, 6, 34); 
	padding: 150px;
}

a {
	color: inherit;
} 

h1 {
	color: white;
}
/* 
.footer{
	justify-content: space-around;
	text-align: center;
} */

/* .footerTop{
	background-color: #222222;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
} */

/* .footerBottom{
	background-color: #444444;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
} */

.accordion-item{
	background-color: #444444;
	color: #FFFFFF;
}

.accordion-button{
    background-color: #888888;
	color: #FFFFFF;
 }
 
 .accordion-button:focus{
    background-color: #AAAAAA;
	color: #FFFFFF;
}

#roulette-ball {
	height: 1.25vw;
	width: 1.25vw;
	border-radius: 1.25vw;
	background-color: white;
	position: relative;
	top: 4.85vw;
	left: 9.4vw;
	z-index: 1;
}

#roulette-wheel {
    width: 20vw;
    height: auto;
}

.roulette-black {
	background-color: black;
}

.roulette-red {
	background-color: red;
}

.roulette-green {
	background-color: rgb(70, 120, 70);
	text-align: center;
}

.selected-bet {
	background-color: rgb(240, 240, 50);
	color: black;
}

#king {
	margin-right: -800;
	position: absolute;
	right: 285px;
}

#maintxt {
	font-size: 20px
}

#logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.games{
	text-align: center;
	color: rgb(230, 168, 79)
}